// App.vue

<template>
    <div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <router-link to="/" class="nav-link">Home page</router-link>
                    </li>
                </ul>
            </div>
        </nav>
        <br/>

        <router-view></router-view>
    </div>
</template>

<script>

    export default {

        mounted() {
       
        }
    }
</script>