// CreatePost.vue

<template>
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <div class="form">
                <form method="post" @submit.prevent="addEvent">
                  <div class="form-group">
                        <label for="description">{{ __('addevent.event') }}</label>
                        <input type="text" :class="['form-control', allerros.event ? 'is-invalid' : '']"  id="event" v-model="eventdata.event" />
                        <div v-if="allerros.event" :class="['invalid-feedback']">
                            {{ allerros.event[0] }}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label" for="date-from">{{ __('addevent.date_from') }}</label>                        
                        <div :class="['input-group', allerros.event ? 'is-invalid' : '']"  >
                          <date-picker v-model="eventdata.date_from"  :config="optionsDatepicker" :class="['form-control', allerros.event ? 'is-invalid' : '']" wrap></date-picker>   
                          <div class="input-group-append" >
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>

                       <div v-if="allerros.date_from" :class="['invalid-feedback']">
                            {{ allerros.date_from[0] }}
                        </div>                                                
                    </div>
                    <div  class="form-group">
                        <label class="control-label" for="date-to">{{ __('addevent.date_to') }}</label>    
                        <div :class="['input-group', allerros.event ? 'is-invalid' : '']" >
                          <date-picker v-model="eventdata.date_to"  :config="optionsDatepicker" :class="['form-control', allerros.event ? 'is-invalid' : '']" wrap></date-picker>   
                          <div class="input-group-append" >
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                
         
                       <div v-if="allerros.date_to" :class="['invalid-feedback']">
                            {{ allerros.date_to[0] }}
                        </div>                                                
                    </div>
                    <br>
                    <br>
                    <div :class="['form-group', allerros.event ? 'is-invalid' : '']" >
                      <span v-for="(dayName,index) in dayNames">
                        <pretty-check :value="(index+1)" name="days" v-model="eventdata.days" class="p-round" color="success" >  {{dayName}} </pretty-check> <br>
                      </span> 
                     </div>   
                      <div v-if="allerros.days" :class="['invalid-feedback']">
                            {{ allerros.days[0] }}
                      </div>                                            
                      <br>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    // Import prettycheck components
    import 'pretty-checkbox/src/pretty-checkbox.scss';
    import PrettyCheck from 'pretty-checkbox-vue/check';

    // Import datepicker components
    import datePicker from 'vue-bootstrap-datetimepicker';
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
    
    // Import eventbus to emit the event and pass the parameters across components   
    import EventBus from "../EventBus";

    export default {
       components: {
            PrettyCheck,datePicker
        },    
        data() {
            return {
                //form parameters
                eventdata: {
                    days: []
                },

                //form errors
                allerros: [],
                success: false,
                
                //dayNames
                dayNames: ['Sunday' ,'Monday' ,'Tuesday' ,'Wednesday' ,'Thursday' ,'Friday' ,'Saturday'],
                
                //datepicker parameters
                date: new Date(),
                optionsDatepicker: {
                  format: 'DD/MM/YYYY',
                  useCurrent: false,
                  locale: 'en',
                }                              
            }
        },
        methods: {
            /*
             * @desc send form eventdata using post method 
             */
            addEvent() {
                //consuming POST API for creating new events
                let uri = '/api/event/create';
                this.axios.post(uri, this.eventdata).then((response) => {
                    event.preventDefault();

                    //emiting the finished event with the response data
                    EventBus.$emit("finished", response.data);
                }).catch((error) => {
                    this.allerros = error.response.data.errors;
                    this.success = false;
                });
            },
        },
    }
</script>