<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <FullCalendar :options="calendarOptions" ref="calendar"  :events="events"/>
            </div>
        </div>
    </div>
</template>


<script>
	// Import fullcalendar components
    import FullCalendar from '@fullcalendar/vue';
	import listPlugin  from '@fullcalendar/list';
    import dayGridPlugin from '@fullcalendar/daygrid';
    import timeGridPlugin from '@fullcalendar/timegrid';
    import interactionPlugin from '@fullcalendar/interaction';    
    
    // Import eventbus to listen to the emmited event
    import EventBus from "../EventBus";

    export default {
        components: {
        	FullCalendar
        },
        data() {
            return {
		        //fullcalendar option parameters
                calendarOptions: {
					plugins: [ 
                        listPlugin,  
                        dayGridPlugin,
                        timeGridPlugin,
                     ],
		        	initialView: 'listMonth',
                    locale: 'en',
		        	headerToolbar: {
		        		right: 'dayGridMonth,listMonth,timeGridWeek,prev,next',
		        	}
		        },
                    
            }         
        },

        //we used this method to trigger data fetching from API backend and used for listening to the emitted event from other components
        created() {
            EventBus.$on("finished", eventData => {
               //we will use calenddarApi to add events
               let calendarApi = this.$refs.calendar.getApi();
               for (var key in eventData) {
                    calendarApi.addEvent(eventData[key]);
               }
            });
           
        },                    
    }
</script>