// HomeComponent.vue

<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header"><h1>Calendar</h1></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <create-component />
                        </div>
                        <div class="col-sm-8">
                            <event-calendar />
                        </div>
					</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    //let's import the two main components of the event app
    import CreateComponent from './CreateComponent'
    import EventCalendar from './EventCalendar'

    export default {
        components: {
           'create-component': CreateComponent,
           'event-calendar': EventCalendar
        },   
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>